
{{ form_start(form) }}
    {{ form_widget(form.firstname) }}
    {{ form_widget(form.lastname) }}
    {{ form_widget(form.password) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
