{% extends 'base.html.twig' %}

{% block title %}Quack{% endblock %}

{% block body %}
    <h1>Quack</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quack.id }}</td>
            </tr>
            <tr>
                <th>Duckname</th>
                <td>{{ quack.duckname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ quack.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ quack.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ quack.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quack_index') }}">back to list</a>

    <a href="{{ path('quack_edit', {'id': quack.id}) }}">edit</a>

    {{ include('quack/_delete_form.html.twig') }}
{% endblock %}
